@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');
  
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Trade+Winds&display=swap');

    @font-face {
        font-family: "Aller";
        font-weight: 500;
        font-style: normal;
        src: url("./fonts/Aller_Bd.ttf") format("truetype");     
     }
        
    @font-face {
        font-family: "Museo Moderno";
        font-weight: 500;
        font-style: normal;
        src: url("./fonts/MuseoModerno-VariableFont_wght.ttf") format("truetype");  
    
     }
     
    @font-face {
        font-family: "Bree Serif";
        font-weight: 500;
        font-style: normal;
        src: url("./fonts/Bree_Serif.otf");  
    
     }

    p {
    font-family: helvetica, arial, sans-serif; 
    font-size: 14px; 
    padding: 1.5px; 
    color: #222;
    font-weight: normal;
    }
         
    h2 {
    font-family: "Trade Winds", arial, sans-serif; 
    font-size: 24px; 
    padding: 2px; 
    color: #009;
    font-weight: bold;

    }
        
    h1 {
    font-family: "Bree Serif", arial, sans-serif; 
    font-size: 30px; 
    padding: 2px; 
    color: #CC0099;
    font-weight: bold;
    }
        
    h3 {
    font-family: "Aller", sans-serif, arial; 
    font-size: 14px; 
    padding: 2px; 
    color: #009;
    font-weight: bold;
    }
        
    .em{
    font-weight: bold;  
    }
        
    .space{
    padding: 16px;  
    }

	
span.underline { 
    color: lightblue; 
    text-decoration: none; 
} 
span.underline a { 
    color: darkblue; 
    text-decoration: underline; 
} 

.navbar-nav .nav-link {
		color: lightblue;
		background-color: transparent;
		border-bottom: .25rem solid transparent;
    text-decoration: none;
	}
	.navbar-nav .nav-link:hover,
	.navbar-nav .nav-link:focus {
		color: darkblue !important;
		border-bottom-color: darkblue;
	}



         body {
         }



         .container {
            background: #FFFF;
            border: 1px solid #ccc;
            padding: 12px;
            margin-bottom: 15px;
            max-width: 960px;
             /*centerera container*/ 
            margin: 0 auto;
            text-align: center;
         }

         .container p {
            /* Text Align */
            text-align: left;
            text-align: right;
            text-align: center;
            text-align: justify;
         }

         /* Floating */
   
         header {
            height: 140px;
            width:100%;
            background-image:url("hoppity.png");
         }

         section {
            float: left;
            padding: 12px;
            width: 600px;
         }

  aside {  
      float: right; 
      padding: 10px;
      margin-left: 10px;
      width: 300px;
         }


         footer {
            clear: both; 
             height: 200px;

         }

         r {
  color:red;
         }


@media(max-width: 700px){
        .container {
            background: red;
         }
    
    aside {  
            float: left;
    /*ändras tillsammans med upplösningen*/ 
            max-width: 90%;
         } 
    section {  
            max-width: 90%;
         } 
         }

   